:root {
  --primary: "#4A8BFC";
  --secondary: "#E7F6FD";
  --bg-primary: "#000";
  --bg-secondary: "#fff";
  --text-primary: "#000";
  --text-secondary: "#fff";
  --placeholder: "#909090";
  --input: "#FCFCFC";
  --color-one: "#F85A76";
  --color-two: "#61B56E";
  --color-three: "#F98B4E";
  --color-four: "#EEAC43";
}